{% extends 'bootstrap/base.html'%}
<!-- replace all the content in our base.html file -->
<!-- <!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8"> {% if title %}
  <title> {{ title }}</title>
  {% else %}
  <title> Welcome to the best Movie Review website </title>
  {% endif %}
</head>

<body> -->
<!-- Content block -->

<!-- {% block content %} {% endblock%}
</body>

</html> -->

<!-- create a bootstrap navbar and we can now include it in our base.html file. -->

<!-- Navbar block  -->
{% block navbar %} {% include 'navbar.html' %} {% endblock %}